header{
    background-image: linear-gradient(rgba(0, 0, 36, 0.8), rgba(1, 1, 58, 0.8)), url(./images/Untitled\ design\ \(8\).png);
    height: 400px;
  }
  
  .center{
    align-items: center;
  }
  .fontawesome{
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .fontawesome {
      font-size: 17px;
    }
  }
  .golden{
    color: white;
    text-align: center;
    font-size: 30px; 
    font-weight: bolder;
  }
  
  
  @media (max-width: 768px) {
    .golden {
      font-size: 20px;
    }
  }
  .knowledge{
    justify-content: center;
    align-items: center;
  }
  .solutions{
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    border-radius: 5px;
  
  }
  .center{
    background-color: rgb(3, 3, 54);
    padding: 15px 15px 20px 15px ;
  }
  h2{
    color: white;
  }
  .font{
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
  }
  .center22{
    background-color: rgb(3, 3, 54);
  }
  .center22 p{
    text-align: center;
    color:rgb(255, 115, 0);
  }
  section > h2 > p > img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .install{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .install img{
    border-radius: 3px;
    width: 300px;
    height: 200px;
  }
  
  @media screen and (max-width: 480px){
    .install img{
      width: 150px;
      height: 90px;
    }
    .solutions{
      width: 102%;
      height: 115px;
      max-width: 580px;
      border-radius: 5px;
    
    }
  }
  .quick25{
    display: flex;
    justify-content: center;
    align-items: center;
  }