.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 39), rgb(1, 1, 39));
  }
  
  .contact-left {
    margin-top: 20px;
    padding: 25px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    width: 85%;
  }
  
  .contact-left-title {
    margin-bottom: 20px;
    color: white;
  }
  
  .contact-inputs {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .contact-right {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    width: 85%;
  }
  .vimpire {
    font-size: 30px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .vimpire {
      font-size: 24px;
    }
  }
  
  @media (max-width: 480px) {
    .vimpire {
      font-size: 16px;
    }
  }
  .contact-inputs{
    width: 100%; 
    height: 10vh; 
    resize: none;
  }
  hr {
    margin-bottom: 100px;
  }
  
  .Amen {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
  }
  .form47 {
    background-color: white;
    padding: 20px 20px;
    border: none;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .contact-left,
    .contact-right {
      width: 100%;
    }
  
    .contact-left-title,
    h2 {
      font-size: 14px;
    }
  
    .Amen {
      font-size: 10px;
    }
  }
  
  .Amen_22 {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 7px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .Amen_22 {
        font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .Amen_22 {
        font-size: 9px;
    }
  }