.searching {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-bar {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f1f1f1;
  }
  
  .botton {
    padding: 10px 20px;
    background-color: #021c55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botton:hover{
    background-color: rgb(233, 97, 0);
  }
  @media (max-width: 768px) {
    .search-bar {
        width: 200px;
    }
  
    .botton {
        padding: 8px 16px;
    }
  }
  
  @media (max-width: 576px) {
    .search-bar {
        width: 150px;
    }
  
    .botton {
        padding: 6px 12px;
    }
  }
  
  @media (max-width: 480px) {
    .search-bar {
        width: 130px;
    }
  
    .botton {
        padding: 7px 8px;
    }
  }
  @media (max-width: 192px) {
    .search-bar {
        width: 60px;
    }
  
    .botton {
        padding: 4px 4px;
    }
  }
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .sticky-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .sticky-nav li {
    margin-right: 20px;
  }
  
  .sticky-nav a {
    text-decoration: none;
    color: #fff0f0;
  }
  
  .sticky-nav .menu-icon {
    display: none;
  }
  
  @media (max-width: 768px) {
    .sticky-nav ul {
        flex-direction: column;
    }
  
    .sticky-nav li {
        margin-bottom: 10px;
    }
  
    .sticky-nav .menu-icon {
        display: block;
        cursor: pointer;
    }
  }