/* =====Google fonts imports===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.font{
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.font22{
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px; /* Add margin to the right side */
}

.logo h1 {
  font-size: 1rem;
}

@media (max-width: 150px) {
  .logo {
    margin-right: 9px; /* Adjust the margin value for smaller screens */
  }
  
  .logo h1 {
    font-size: 0.5rem;
  }
}
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  }
.logoInner{
    color: rgb(255, 115, 0);
}
html, body{
    height: 100%;
    width: 100%;
}
nav{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 77, 97);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-icon {
    display: none;
}
.menu-icon i {
    color: #fff;
    font-size: 30px;
}

@media (max-width: 600px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #00091b;
    gap: 0;
    overflow: hidden;
}
  nav ul li{
    padding: 20px;
}
   .menu-icon{
       display: block;
   }
}
.coding{
    color: rgb(4, 153, 61);
}
.text{
    text-align: center;
    color: rgb(1, 1, 97);
}
.text222{
    text-align: center;
    color: rgb(1, 1, 97);
    font-size: 24px;
}
@media (max-width: 204px) {
    .text222 {
        font-size: 18px;
        /* Adjust the side margin to make it responsive */
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 160px){
    .text222 {
        font-size: 15px;
        /* Adjust the side margin to make it responsive */
        margin-left: 6px;
        margin-right: 6px;
    }
}
.para {
    font-size: 16px;
    /* Adjust the side padding to make it responsive */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 204px) {
    .para {
        font-size: 13px;
        /* Adjust the side padding to make it more responsive */
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    
}


.image {
    /* Adjust the side margins to make it responsive */
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 204px) {
    .image {
        /* Adjust the side margins to make it more responsive */
        margin-left: 10px;
        margin-right: 10px;
    }
}
.container{
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(./images/Contacts.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 8px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
.form-box h1:after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.input-field{
    background-color: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field svg{
    margin-left: 15px;
    color: #797979;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background:  #3c00a0;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    border: 0;
    outline: 0;
    transition: background 1s;

}
.input-group{
    height: 280px;
}
.btn-field button.different-color{
    background: #eaeaea;
    color: #555;
}

/* Media queries for responsiveness */
@media (max-width: 576px) {
  .form-box {
      max-width: 100%;
      padding: 20px;
  }

  .form-box h1 {
      font-size: 24px;
  }

  .input-field {
      max-height: 50px;
  }

  input {
      padding: 10px;
  }

  .btn-field button {
      height: 50px;
  }

  .input-group {
      height: 200px;
  }
}
@media (min-width: 565px){
     
}
@media (min-width: 576px) and (max-width: 768px) {
  .form-box {
      max-width: 95%;
      padding: 30px;
  }

  .form-box h1 {
      font-size: 30px
  }
}
.link2{
    text-decoration: none;
    color: white;
}
.password{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(./images/Contacts.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.home{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(./images/Image\ for\ student.jpg);
    background-position: center;
    background-size: cover;
}
.container-02 .footer {
    background-color: white; 
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid #ddd;
  }
  
  .footer-copyright {
    flex-basis: 30%;
    margin-bottom: 0;
  }
  
  .footer-nav {
    flex-basis: 65%;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-nav li {
    margin-left: 1rem;
  }
  
  @media (min-width: 1200px) {
    .footer-container {
      flex-direction: row;
    }
  
    .footer-copyright {
      flex-basis: 30%;
      margin-bottom: 0;
    }
  
    .footer-nav {
      flex-basis: 65%;
      display: flex;
      justify-content: flex-end;
    }
  
    .footer-nav li {
      margin-left: 1rem;
    }
  }
  
  @media (max-width: 1199px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-copyright {
      flex-basis: 100%;
      text-align: center;
    }
  
    .footer-nav {
      flex-basis: 100%;
      justify-content: center;
    }
  
    .footer-nav li {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-copyright {
      flex-basis: 100%;
      text-align: center;
    }
  
    .footer-nav {
      flex-basis: 100%;
      justify-content: center;
    }
  
    .footer-nav li {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-copyright {
      flex-basis: 100%;
      text-align: center;
    }
  
    .footer-nav {
      flex-basis: 100%;
      justify-content: center;
    }
  
    .footer-nav li {
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-copyright {
      flex-basis: 100%;
      text-align: center;
    }
  
    .footer-nav {
      flex-basis: 100%;
      justify-content: center;
    }
  
    .footer-nav li {
      margin-left: 0;
    }
  }
  
  @media (max-width: 480px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-copyright {
      flex-basis: 100%;
      text-align: center;
    }
  
    .footer-nav {
      flex-basis: 100%;
      justify-content: center;
    }
  
    .footer-nav li {
      margin-left: 0;
    }
  }
  
@media (max-width: 150px) {
    .footer-container {
     flex-direction: column;
     align-items: center;
}
  
 .footer-copyright {
   flex-basis: 100%;
   text-align: center;
 }
 
 .footer-nav {
   flex-basis: 100%;
   justify-content: center;
 }
 
 .footer-nav li {
   margin-left: 0;
 }
  }
.home {
    background-color: #f2f2f2;
    padding: 20px;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

h1 {
    color: #fff;
    font-size: 27px;
    margin-top: 20px;
}

.center p {
    color: #ff7b00;
    font-size: 19px;
    margin-top: 20px;
}

.innovate {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.innovate-img {
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: #020e2e;
}

h1 {
    color: #fff;
    font-size: 2p7x;
    margin-top: 20px;
}
.center .goal28{
    color: #ff7b00;
    margin-top: 20px;
}

.innovate-img img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 10px;
  margin-bottom: 8px;
  margin-top: 25px;
  border-radius: 17px;
  transition: transform 0.3s ease;
}

@media (max-width: 150px) {
  .innovate-img img {
    max-width: 100px; /* Adjust the maximum width for a 150px screen */
  }
}

.innovate-img img:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.container90 {
  text-align: center;
  max-width: 90%; /* Adjust the width based on your design */
  margin: auto;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  height: 65%;
}

.container90 {
  max-width: 90%;
  margin: 0 auto;
}

.blg {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.Btn25 {
  background-color: #3c00a0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  margin-bottom: 10px;
}

a {
  color: #3c00a0;
  text-decoration: none;
}

@media (max-width: 150px) {
  .container90 {
      max-width: 100%;
      padding: 0 20px;
  }

  .blg {
      font-size: 20px;
  }

  input[type="email"] {
      padding: 8px;
  }

  button.Btn25 {
      padding: 8px 15px;
  }

  p {
      margin-bottom: 8px;
  }
}


h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.Btn25 {
    padding: 10px 20px;
    background-color: #021c64;
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.Btn25:hover{
    background-color: #ff7b00;
}
a {
    color: #000cb4;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(34, 34, 77, 0.8), rgba(1, 1, 58, 0.8)), url(./images/Screenshot\ 2024-05-09\ 175228.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    text-align: center;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    height: 150vh; /* Adjust the height based on your design */
}
.goal{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
@media (max-width: 768px) {
  .goal {
    font-size: 17px;
  }
}




.goal28{
    color: #ff7b00;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 768px) {
  .goal28 {
    font-size: 15px;
  }
}

.blg{
    color: #000000;
}
.panda{
    height: 80px; 
    width: 120px;
}


.footer-container {
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #ffffff;
  }
  
  .footer-copyright {
    font-size: 14px;
    color: #212529;
  }
  
  .footer-nav {
    margin-bottom: 0;
  }
  
  .footer-nav-link {
    color: #6c757d;
    font-size: 14px;
    padding: 0 10px;
  }
  
  .footer-nav-link:hover {
    color: #007bff;
  }
  
  .footer-logo {
    height: 60px;
    width: 100px;
  }
a{
    list-style: none;
}

.white{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
@media (max-width: 768px) {
  .white {
    font-size: 15px;
  }
}

.white_22 {
  color: white;
  font-weight: bold;
  font-size: 8px;
  margin-left: -15px;
}

@media (max-width: 768px) {
  .white_22 {
    font-size: 4px;
  }
}

.border {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .border {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .border {
    max-width: 250px;
  }
}


.mayor {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.mayor a{
  text-decoration: none;
  color: blue;
}
@media (max-width: 768px) {
  .mayor {
      font-size: 14px;
  }
}

@media (max-width: 576px) {
  .mayor {
      font-size: 14px;
  }
}

button.Btn25 {
  background-color: #3c00a0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 45px;
}

@media (max-width: 150px) {
  button.Btn25 {
      padding: 8px 15px;
      font-size: 14px;
  }
}
















